:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

h1 {
  font-family: 'Gill Sans', Tahoma, sans-serif;
}

.login h1 {
  color: #b37ba4;
}

.login li {
  color: #d99ac5
}